.heading {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}

.img {
  position: relative;
  max-width: 100px;
  animation-name: grow;
  animation-timing-function: ease-in-out;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.right img:nth-child(1) {
  top: 300px;
  left: 10px;
}

.right img:nth-child(2) {
  top: 40px;
  right: 10px;
}

.right img:nth-child(3) {
  top: 250px;
  right: 10px;
}

.right img:nth-child(4) {
  top: 100px;
  right: 10px;
}

.left img:nth-child(1) {
  top: 300px;
  left: 10px;
}

.left img:nth-child(2) {
  top: 40px;
  left: 10px;
}

.left img:nth-child(3) {
  top: 250px;
  left: 10px;
}

.left img:nth-child(4) {
  top: 100px;
  right: 10px;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  height: 80vh;
}

/* .main div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

.main div h2 {
  text-align: center;
}

.main div p {
  text-align: justify;
}

.phone {
  position: relative;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.dapps {
  background: var(--bluish);
  width: 600px;
  height: 600px;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.defi {
  position: relative;
  background: var(--green);
  width: 600px;
  height: 600px;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: -40px;
  top: 80px;
  z-index: -1;
}

.two {
  display: flex;
}

.main div p {
  text-align: center;
}

@media (max-width: 900px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .two {
    flex-direction: column;
    gap: 1rem;
  }

  .defi {
    top: 0;
    left: 0;
  }
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }

  .right {
    display: flex;
    gap: 1rem;
  }
  .left {
    display: flex;
    gap: 1rem;
  }

  .right img {
    object-fit: contain;
  }

  .right img:nth-child(1) {
    top: 0;
    left: 0;
  }

  .right img:nth-child(2) {
    top: 0;
    right: 0;
  }

  .right img:nth-child(3) {
    top: 0;
    right: 0;
  }

  .right img:nth-child(4) {
    top: 0;
    right: 0;
  }

  .left img:nth-child(1) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(2) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(3) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(4) {
    top: 0;
    right: 0;
  }

  .main {
    width: 100%;
    height: 100%;
  }
}
