.heading {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
}

.img {
  position: relative;
  max-width: 100px;
}

.right img:nth-child(1) {
  top: 300px;
  left: 10px;
}

.right img:nth-child(2) {
  top: 40px;
  right: 10px;
}

.right img:nth-child(3) {
  top: 250px;
  right: 10px;
}

.right img:nth-child(4) {
  top: 100px;
  right: 10px;
}

.left img:nth-child(1) {
  top: 300px;
  left: 10px;
}

.left img:nth-child(2) {
  top: 40px;
  left: 10px;
}

.left img:nth-child(3) {
  top: 250px;
  left: 10px;
}

.left img:nth-child(4) {
  top: 100px;
  right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  gap: 4rem;
}

.main div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main div h2 {
  text-align: center;
}

.main div p {
  text-align: justify;
}

.phone {
  position: relative;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }

  .right {
    display: flex;
    gap: 1rem;
  }
  .left {
    display: flex;
    gap: 1rem;
  }

  .right img {
    object-fit: contain;
  }

  .right img:nth-child(1) {
    top: 0;
    left: 0;
  }

  .right img:nth-child(2) {
    top: 0;
    right: 0;
  }

  .right img:nth-child(3) {
    top: 0;
    right: 0;
  }

  .right img:nth-child(4) {
    top: 0;
    right: 0;
  }

  .left img:nth-child(1) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(2) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(3) {
    top: 0;
    left: 0;
  }

  .left img:nth-child(4) {
    top: 0;
    right: 0;
  }

  .main {
    width: 100%;
  }
}
