.header h1 {
  border-left: 2px solid var(--green);
  padding: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price {
  padding: 1rem;
  font-size: 2rem;
}

.prices {
  display: flex;
  gap: 2rem;
}

.change {
  font-size: 1rem;
}
