.section {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.content {
  width: 40%;
  padding: 2rem;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  /* max-width: 1000px; */
  width: 100%;
}
