.header {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  /* max-width: 1000px; */
  width: 100%;
}

.main {
  display: flex;
  padding: 2rem;
  gap: 4rem;
}

.main div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
