.header {
  display: flex;
  padding: 1rem 2rem;
}

.main {
  height: 100%;
  display: flex;
}

.form {
  border-radius: 0.4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.header h1 {
  border-left: 2px solid var(--green);
  padding: 0 1rem;
}

.input input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-family: "Poppins";
  color: white;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.07);
}

.input input::placeholder {
  color: var(--darker-white);
}

.input textarea {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-family: "Poppins";
  background-color: rgba(255, 255, 255, 0.07);
  resize: none;
  color: white;
  font-size: 1rem;
}

.input textarea::placeholder {
  color: var(--darker-white);
}

.btns {
  display: flex;
  justify-content: flex-end;
}
