@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

.nav {
  padding: 2rem 2rem;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

.logo h1 span {
  font-family: "Roboto";
  font-weight: 600;
  color: var(--green);
}

.logo img {
  max-width: 50px;
}

.links {
  position: relative;
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.burger {
  display: flex;
  align-items: center;
}

.burger img {
  max-width: 40px;
}

.burger {
  display: none;
}

/* Mobile */
@media screen and (max-width: 650px) {
  /* body {
    overflow-x: hidden;
  } */

  .links {
    display: none;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: white;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.navActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(20px);
}
